.banner_container {
  margin-top: 72px;
}
.slider_wrapper {
  position: relative;
  overflow: hidden;
}
.bannerImg {
  width: 100%;
  animation: zoomIn 8s ease 0.3s 1 normal forwards;
}
.banner_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 6rem;
  display: flex;
  justify-content: space-between;
}
.banner_details {
  width: 50%;
  text-align: left;
  color: var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner_details h2 {
  font-weight: 500;
  font-size: 5rem;
}
.banner_details p {
  margin: 2rem 0;
}
.banner_details button {
  margin: 2rem 0 0;
}
.banner_icon {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

/* ----------------animation--------------- */
@keyframes zoomIn {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

/* ------------Responsivness---------- */
@media (max-width: 1200px) {
  .banner_content {
    padding: 4rem;
  }
  .banner_details h2 {
    font-size: 4rem;
    line-height: 50px;
  }
  .banner_details p {
    margin: 1.2rem 0;
  }
}
@media (max-width: 960px) {
  .banner_details {
    width: 100%;
  }
  .banner_icon {
    display: none;
  }
}
@media (max-width: 768px) {
  .banner_container {
    margin-top: 65px;
  }
  .banner_content {
    padding: 0 2rem;
  }
  .banner_details h2 {
    font-size: 2.6rem;
    line-height: 30px;
  }
  .banner_details p {
    margin: 1rem 0 0;
    font-size: 1.4rem;
  }
}
@media (max-width: 480px) {
  .banner_details p {
    display: none;
  }
  .banner_details button {
    margin: 1.5rem 0 0;
  }
}
