.features_container {
  padding: 7.2rem 5rem 2rem;
}
.features_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px 30px;
  margin-top: 8rem;
  color: var(--primary-color);
}
.feature_card {
  flex: 0 0 350px;
  padding: 5rem 1rem 2rem;
  text-align: center;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  position: relative;
  transition: all 0.4s ease;
}
.icon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  font-size: 3rem;
  background: var(--accent-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  animation: float 3.55s ease-in-out infinite;
}
.feature_card:hover {
  transform: translateY(-10px);
  background: var(--accent-color);
}
.feature_card:hover .icon {
  background: var(--secondary-color);
  color: var(--accent-color);
}
.feature_card:hover .button {
  background: var(--secondary-color);
  color: var(--accent-color);
}
.feature_card h3 {
  font-size: 1.8rem;
  font-weight: 400;
}
.feature_card p {
  font-size: 1.4rem;
  margin: 1rem 0;
}

/* KEYFRAME ANIMATION  */
@keyframes float {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -60%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

/* ------------Responsivness---------- */
@media (max-width: 960px) {
  .features_container {
    padding: 7.2rem 3rem 0;
  }
  .features_wrapper {
    gap: 80px 20px;
  }
  .feature_card {
    flex: 0 0 320px;
  }
}
@media (max-width: 680px) {
  .features_wrapper {
    gap: 70px 20px;
  }
  .feature_card {
    flex: 0 0 350px;
  }
}
@media (max-width: 430px) {
  .feature_card {
    flex: 0 0 100%;
  }
}
