.team_container {
  padding-top: 5rem;
}
.team_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 5rem;
}
.member_card {
  flex: 0 0 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.1);
}
.member_img {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.member_img img {
  width: 100%;
  transition: 0.4s ease;
}
.social {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  width: 100%;
  background: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0;
  font-size: 1.6rem;
  color: var(--secondary-color);
  transition: 0.4s ease;
}
.member_card:hover .member_img img {
  transform: scale(1.1);
}
.member_card:hover .social {
  transform: translateY(0);
}
.member_details {
  padding: 2rem;
}
.member_details h4 {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 1.5rem 0 0.7rem;
}
.member_details span {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--accent-color);
}
.member_details p {
  font-size: 1.4rem;
  margin-top: 1rem;
}
