@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --primary-color: #1f242d;
  --secondary-color: #2b3341;
  --accent-color: #ffbd00;
  --light-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 1700px;
  margin: 0 auto;
}
/* global components styles */
.button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  border: none;
  border-radius: 0.5rem;
  width: max-content;
  background: var(--accent-color);
  color: var(--secondary-color);
  cursor: pointer;
  transition: 0.4s;
}
.button:hover {
  background: var(--secondary-color);
  color: var(--accent-color);
}
.heading h2 {
  font-size: 2.8rem;
  text-align: center;
  margin: 2rem 0;
  font-weight: 600;
  color: var(--primary-color);
}
/* banner slider styles */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ------------Responsivness---------- */
@media (max-width: 1200px) {
}
@media (max-width: 960px) {
}
@media (max-width: 768px) {
  .button {
    font-size: 1.3rem;
    padding: 0.7rem 1.5rem;
  }
}
@media (max-width: 480px) {
}

/* ------------Responsivness---------- */
/* @media (max-width: 1200px) {
  
}
@media (max-width: 960px) {
  
}
@media (max-width: 768px) {
  
}
@media (max-width: 480px) {
  
} */
